/* General CSS */
body {
    overflow: hidden; 
    margin: 0px;
}

div#images {
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0; 
}

img#sarah1a, img#sarah2, img#sarah3, img#sarah_point, img#sarah_up, img#sarah4 {
    position: absolute;
    left: 0%;
    width: 100%;
    top: 0%;
    opacity: 0;
}

img#sarah4 {
    animation-name: fadeIn, fadeOut, fadeIn, moveRight50, fadeOut, fadeIn, fadeOut;
    animation-duration: 4s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s;
    animation-delay: 1s, 4s, 3s, 4s, 6.5s, 8.48s, 16.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 1;
}

img#sarah1a {
    animation-name: fadeIn, fadeOut, fadeIn, fadeOut, moveRight50;
    animation-duration: 1s, 0s, 0s, 0s, 0s, 0s, 0s;
    animation-delay: 3s, 2s, 2.22s, 3.05s, 4s;
    animation-fill-mode: forwards; 
    z-index: 3;
}

img#sarah2 {
    animation-name: fadeIn, fadeOut, fadeIn, fadeOut;
    animation-duration: 0s;
    animation-delay: 1.98s, 2.08s, 2.14s, 2.24s;
    animation-fill-mode: forwards; 
    z-index: 4;
}

img#sarah3 {
    animation-name: fadeIn, fadeOut;
    animation-duration: 0s;
    animation-delay: 2.06s, 2.16s;
    animation-fill-mode: forwards; 
    z-index: 5;
}

img#sarah_up {
    animation-name: moveRight50, fadeIn, fadeOut, fadeIn, fadeOut;
    animation-duration: 1s, 0s, 0s, 0s, 0s;
    animation-delay: 1s, 6.48s, 8.5s, 12s, 14s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 5;
}

img#sarah_point {
    animation-name: moveRight50, fadeIn, fadeOut;
    animation-duration: 4s, 0s, 0s;
    animation-delay: 10s, 16s, 17s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 5;
}

img.animals {
    opacity: 0;
    animation-name: fadeIn, wiggle, fadeOut;
    animation-duration: 1s, 2s, 2s;  
    animation-delay: 6.5s, 7s, 11s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#pig {
    position: absolute;
    left: 65%;
    width: 20%;
    top: 5%;
}

img#cow {
    position: absolute;
    left: 65%;
    width: 20%;
    top: 32%;  
}

img#croc {
    position: absolute;
    left: 65%;
    width: 20%;
    top: 57%; 
}

img#horse {
    position: absolute;
    left: 65%;
    width: 20%;
    top: 68%;
}

img#sarah_headshot {
    position: absolute;
    left: 70%;
    width: 25%;
    top: 4%;
    opacity: 0;
    animation-name: fadeIn, fadeOut, fadeIn;
    animation-duration: 3s, 0s, 0s;
    animation-delay: 17.1s, 48s, 63.01s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#sarah_one {
    position: absolute;
    left: 70%;
    width: 25%;
    top: 4%;
    opacity: 0;
    animation-name: fadeIn, fadeOut;
    animation-duration: 0.5s, 0s;
    animation-delay: 48.01s, 63s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#cup1 {
    position: absolute;
    left: 5%;
    width: 15.5%;
    top: 40%;
    opacity: 0;
    animation-name: fadeIn, wiggle, wiggle, pulseMedium;
    animation-duration: 3s, 1.5s, 1.5s, 1.5s;
    animation-delay: 17.5s, 22s, 39s, 66s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#cup2 {
    position: absolute;
    left: 22%;
    width: 16%;
    top: 41%;
    opacity: 0;
    animation-name: fadeIn, wiggle;
    animation-duration: 3s, 1.5s;
    animation-delay: 17.5s, 28.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#cup3 {
    position: absolute;
    left: 41%;
    width: 14%;
    top: 40%;
    opacity: 0;
    animation-name: fadeIn, wiggle, wiggle, pulseMedium, wiggle;
    animation-duration: 3s, 1.5s, 1.5s, 1.5s, 1.5s;
    animation-delay: 17.5s, 30.5s, 43.5s, 68s, 70s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#cup4 {
    position: absolute;
    left: 57.5%;
    width: 17%;
    top: 40%;
    opacity: 0;
    animation-name: fadeIn, wiggle, wiggle;
    animation-duration: 3s, 1.5s, 1.5s;
    animation-delay: 17.5s, 32.5s, 37s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#cup5 {
    position: absolute;
    left: 76%;
    width: 15%;
    top: 41%;
    opacity: 0;
    animation-name: fadeIn, wiggle, wiggle, pulseMedium;
    animation-duration: 3s, 1.5s, 1.5s, 1.5s;
    animation-delay: 17.5s, 34.5s, 42s, 64s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

/* Library of animations */
@keyframes handUp {
    0% {
        left: 62%;
        top: 53%;
    }
    100% {
        left: 89%;
        top: 23%;
    }
}

@keyframes handDown {
    0% {
        left: 62%;
        top: 53%;
    }
    100% {   
        left: 37%;
        top: 85%;
    } 
}

@keyframes handUpAndDown {
    0% {
        left: 62%;
        top: 53%;
    }
    35% {   
        left: 89%;
        top: 23%;
    } 
    100% {
        left: 37%;
        top: 85%;
    }
}

@keyframes zoomIn2x {
    0% {}
    100% {transform: scale(2)}
}

@keyframes zoomIn {
    0% {}
    100% {transform: scale(1.5)}
}

@keyframes zoomOut {
    0% {}
    100% {transform: scale(1)}
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@keyframes fadeOut50 {
    0% {opacity: 1}
    100% {opacity: .50}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes pulseSmall {
    0% {}
    50% {transform: scale(1.05)} 
    100% {transform: scale(1)} 
}

@keyframes pulseMedium {
    0% {}
    50% {transform: scale(1.2)} 
    100% {transform: scale(1)} 
}

@keyframes selectRight {
    0% {}
    100% {left: 700px; top: -200px; transform: scale(1.5)}
}

@keyframes selectLeft {
    0% {}
    100% {left: -350px; top: -125px; transform: scale(1.5)}
}

@keyframes wiggle {
  0% {}
  20% {transform: rotate(2.5deg);}
  40% {transform: rotate(-2.5deg);}
  60% {transform: rotate(5deg);}
  80% {transform: rotate(-1.25deg);}
  100% {transform: rotate(0deg);}
}

@keyframes smaller50 {
    100% {width: 50%}
}


