/* General CSS */
body {
    overflow: hidden; 
    margin: 0px;
}

div#images {
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0; 
}

img#sarah_point, img#sarah_up, img#sarah4 {
    position: absolute;
    left: 0%;
    width: 100%;
    top: 0%;
    opacity: 0;
}

img#sarah4 {
    animation-name: fadeIn, fadeOut;
    animation-duration: 0s, 1s;
    animation-delay: 0.5s, 19s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 4;
}

img#sarah_up {
    animation-name: fadeIn, fadeOut, fadeIn, fadeOut;
    animation-duration: 0s, 0s, 0s, 0s;
    animation-delay: 3.5s, 5s, 13s, 14s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 5;
}

img#sarah_point {
    animation-name: fadeIn, fadeOut, fadeIn, fadeOut;
    animation-duration: 0s, 0s, 0s, 0s;
    animation-delay: 8s, 9.5s, 16s, 18s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 4;
}

img#sarah_headshot {
    position: absolute;
    left: 73%;
    width: 25%;
    top: 3%;
    opacity: 0%;
    animation-name: fadeOut, fadeIn, fadeOut;
    animation-duration: 0s, 0s, 0s;
    animation-delay: 0s, 23s, 59s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 4
}

img#sarah_one {
    position: absolute;
    left: 73%;
    width: 25%;
    top: 3%;
    opacity: 0%;
    animation-name: fadeOut, fadeIn, fadeOut, fadeIn, fadeOut;
    animation-duration: 0s, 0s, 0s, 0s, 0s;
    animation-delay: 0s, 27.5s, 29s, 42s, 51s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 5
}

img#sarah_left {
    position: absolute;
    left: 73%;
    width: 25%;
    top: 3%;
    opacity: 0%;
    animation-name: fadeOut, fadeIn, fadeOut;
    animation-duration: 0s, 1s, 0s;
    animation-delay: 0s, 21s, 23s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 5
}

img#lunchbox {
    position: absolute;
    left: 36%;
    width: 23%;
    top: 23%;
    opacity: 0%;
    animation-name: fadeOut, fadeIn, wiggle, fadeOut;
    animation-duration: 0s, 2s, 2s, 0s;
    animation-delay: 0s, 20s, 21s, 59s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#ham {
    position: absolute;
    left: 11%;
    width: 14%;
    top: 63%;
    opacity: 0%;
    animation-name: fadeOut, fadeIn, wiggle, fadeOut50, fadeOut;
    animation-duration: 0s, 1.5s, 3s, 2s, 0s;
    animation-delay: 0s, 25s, 30.5s, 32.5s, 59s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#apple {
    position: absolute;
    left: 28%;
    width: 10%;
    top: 64%;
    opacity: 0%;
    animation-name: fadeOut, fadeIn, pulseMedium, fadeOut50, fadeOut;
    animation-duration: 0s, 1.5s, 1.5s, 1s, 0s;
    animation-delay: 0s, 25s, 54.5s, 55s, 59s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#carrots {
    position: absolute;
    left: 42%;
    width: 13%;
    top: 69%;
    opacity: 0%;
    animation-name: fadeOut, fadeIn, pulseMedium, fadeOut50, fadeOut;
    animation-duration: 0s, 1.5s, 1.5s, 1s, 0s;
    animation-delay: 0s, 25s, 55s, 55.5s, 59s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#pbj {
    position: absolute;
    left: 58%;
    width: 16%;
    top: 65%;
    opacity: 0%;
    animation-name: fadeOut, fadeIn, fadeOut;
    animation-duration: 0s, 1.5s;
    animation-delay: 0s, 25s, 59s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#grapple {
    position: absolute;
    left: 76%;
    width: 9%;
    top: 65%;
    opacity: 0%;
    animation-name: fadeOut, fadeIn, pulseMedium, fadeOut50, fadeOut;
    animation-duration: 0s, 1.5s, 1.5s, 1s, 0s;
    animation-delay: 0s, 25s, 54.5s, 55s, 59s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}



/* Library of animations */
@keyframes handUp {
    0% {
        left: 62%;
        top: 53%;
    }
    100% {
        left: 89%;
        top: 23%;
    }
}

@keyframes handDown {
    0% {
        left: 62%;
        top: 53%;
    }
    100% {   
        left: 37%;
        top: 85%;
    } 
}

@keyframes handLeftToRight {
    0% {
        left: 6%;
        top: 70%;
    }
    100% {   
        left: 78%;
        top: 70%;
    } 
}

@keyframes handUpAndDown {
    0% {
        left: 62%;
        top: 53%;
    }
    35% {   
        left: 89%;
        top: 23%;
    } 
    100% {
        left: 37%;
        top: 85%;
    }
}

@keyframes zoomIn2x {
    0% {}
    100% {transform: scale(2)}
}

@keyframes zoomIn {
    0% {}
    100% {transform: scale(1.5)}
}

@keyframes zoomOut {
    0% {}
    100% {transform: scale(1)}
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@keyframes fadeOut50 {
    0% {opacity: 1}
    100% {opacity: .50}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes pulseSmall {
    0% {}
    50% {transform: scale(1.05)} 
    100% {transform: scale(1)} 
}

@keyframes pulseMedium {
    0% {}
    50% {transform: scale(1.2)} 
    100% {transform: scale(1)} 
}

@keyframes selectRight {
    0% {}
    100% {left: 700px; top: -200px; transform: scale(1.5)}
}

@keyframes selectLeft {
    0% {}
    100% {left: -350px; top: -125px; transform: scale(1.5)}
}

@keyframes wiggle {
  0% {}
  20% {transform: rotate(2.5deg);}
  35% {transform: rotate(-2.5deg);}
  50% {transform: rotate(5deg)}
  65% {transform: rotate(-5deg);}
  80% {transform: rotate(1.25deg);}
  100% {transform: rotate(0deg);}
}

@keyframes smaller50 {
    100% {width: 50%}
}