/* General CSS */
body {
    overflow: hidden; 
    margin: 0px;
}

div#images {
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0; 
}

img#sarah_headshot {
    position: absolute;
    left: 73%;
    width: 25%;
    top: 3%;
    opacity: 0%;
    animation-name: fadeIn, fadeOut, fadeIn, fadeOut, fadeIn, fadeOut;
    animation-duration: 0s, 0s, 0s, 0s, 0s, 0s;
    animation-delay: 0s, 12s, 15s, 20.5s, 27.5s, 35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 5
}

img#sarah_one {
    position: absolute;
    left: 73%;
    width: 25%;
    top: 3%;
    opacity: 0%;
    animation-name: fadeIn, fadeOut, fadeIn, fadeOut;
    animation-duration: 0s, 0s, 0s, 0s;
    animation-delay: 12s, 15s, 20.5s, 27.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 4
}

img#sarah_left {
    position: absolute;
    left: 73%;
    width: 25%;
    top: 3%;
    opacity: 0%;
    animation-name: fadeIn, fadeOut;
    animation-duration: 0s, 0s;
    animation-delay: 0s, 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 6
}

img#lunchbox {
    position: absolute;
    left: 36%;
    width: 23%;
    top: 23%;
    opacity: 0%;
    animation-name: fadeIn, fadeOut;
    animation-duration: 0s, 0s;
    animation-delay: 0s, 35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#banana {
    position: absolute;
    left: 9%;
    width: 15%;
    top: 64%;
    opacity: 0%;
    animation-name: fadeIn, wiggle, fadeOut;
    animation-duration: 0s, 2s, 0s;
    animation-delay: 0s, 0s, 35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#cookies {
    position: absolute;
    left: 27%;
    width: 12%;
    top: 66%;
    opacity: 0%;
    animation-name: fadeIn, wiggle, pulseMedium, fadeOut50, fadeOut;
    animation-duration: 0s, 2s, 2s, 1s, 0s;
    animation-delay: 0s, 0s, 30s, 31s, 35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#grapes {
    position: absolute;
    left: 42%;
    width: 14%;
    top: 68%;
    opacity: 0%;
    animation-name: fadeIn, wiggle, fadeOut;
    animation-duration: 0s, 2s, 0s;
    animation-delay: 0s, 0s, 35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#pizza {
    position: absolute;
    left: 59%;
    width: 14%;
    top: 67%;
    opacity: 0%;
    animation-name: fadeIn, wiggle, fadeOut;
    animation-duration: 0s, 2s, 0s;
    animation-delay: 0s, 0s, 35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#cookie {
    position: absolute;
    left: 78%;
    width: 9%;
    top: 68%;
    opacity: 0%;
    animation-name: fadeIn, wiggle, pulseMedium, fadeOut50, fadeOut;
    animation-duration: 0s, 2s, 1.5s, 2s, 0s;
    animation-delay: 0s, 0s, 10s, 11.5s, 35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}



/* Library of animations */
@keyframes handUp {
    0% {
        left: 62%;
        top: 53%;
    }
    100% {
        left: 89%;
        top: 23%;
    }
}

@keyframes handDown {
    0% {
        left: 62%;
        top: 53%;
    }
    100% {   
        left: 37%;
        top: 85%;
    } 
}

@keyframes handLeftToRight {
    0% {
        left: 6%;
        top: 70%;
    }
    100% {   
        left: 78%;
        top: 70%;
    } 
}

@keyframes handUpAndDown {
    0% {
        left: 62%;
        top: 53%;
    }
    35% {   
        left: 89%;
        top: 23%;
    } 
    100% {
        left: 37%;
        top: 85%;
    }
}

@keyframes zoomIn2x {
    0% {}
    100% {transform: scale(2)}
}

@keyframes zoomIn {
    0% {}
    100% {transform: scale(1.5)}
}

@keyframes zoomOut {
    0% {}
    100% {transform: scale(1)}
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@keyframes fadeOut50 {
    0% {opacity: 1}
    100% {opacity: .50}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes pulseSmall {
    0% {}
    50% {transform: scale(1.05)} 
    100% {transform: scale(1)} 
}

@keyframes pulseMedium {
    0% {}
    50% {transform: scale(1.2)} 
    100% {transform: scale(1)} 
}

@keyframes selectRight {
    0% {}
    100% {left: 700px; top: -200px; transform: scale(1.5)}
}

@keyframes selectLeft {
    0% {}
    100% {left: -350px; top: -125px; transform: scale(1.5)}
}

@keyframes wiggle {
  0% {}
  20% {transform: rotate(2.5deg);}
  35% {transform: rotate(-2.5deg);}
  50% {transform: rotate(5deg)}
  65% {transform: rotate(-5deg);}
  80% {transform: rotate(1.25deg);}
  100% {transform: rotate(0deg);}
}

@keyframes smaller50 {
    100% {width: 50%}
}