/* General CSS */
body {
    overflow: hidden; 
    margin: 0px;
}

div#images {
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0; 
}

img#sarah_headshot {
    position: absolute;
    left: 2%;
    width: 25%;
    top: 3%;
    opacity: 0%;
    animation-name: fadeIn, fadeOut, fadeIn, fadeOut;
    animation-duration: 0s, 0s, 0s, 0s;
    animation-delay: 0s, 20s, 24s, 33s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 6
}

img#sarah_one {
    position: absolute;
    left: 2%;
    width: 25%;
    top: 3%;
    opacity: 0%;
    animation-name: fadeIn, fadeOut;
    animation-duration: 0s, 0s;
    animation-delay: 20s, 24s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 5
}

img#sarah_right {
    position: absolute;
    left: 2%;
    width: 25%;
    top: 3%;
    opacity: 0%;
    animation-name: fadeIn, fadeOut;
    animation-duration: 0s, 0s;
    animation-delay: 0s, 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 6
}

img#skunk1 {
    position: absolute;
    left: 6%;
    width: 13%;
    top: 37%;
    z-index: 5;
    animation-name: wiggle, pulseMedium, wiggle, fadeOut;
    animation-duration: 1s, 1.5s, 1s, 0s;
    animation-delay: 1s, 9s, 21s, 33s;
    animation-fill-mode: forwards;
}

img#skunk2 {
    position: absolute;
    left: 24%;
    width: 13%;
    top: 29%;
    z-index: 5;
    animation-name: wiggle, wiggle, fadeOut;
    animation-duration: 1s, 1s, 0s;
    animation-delay: 1s, 21s, 33s;
    animation-fill-mode: forwards;
}

img#skunk3 {
    position: absolute;
    left: 41%;
    width: 14.3%;
    top: 22%;
    z-index: 5;
    animation-name: wiggle, pulseMedium, pulseMedium, wiggle, fadeOut;
    animation-duration: 1s, 1.5s, 1s, 1s, 0s;
    animation-delay: 1s, 11s, 13s, 21s, 33s;
    animation-fill-mode: forwards;
}

img#skunk4 {
    position: absolute;
    left: 59%;
    width: 15%;
    top: 14%;
    z-index: 5;
    animation-name: wiggle, wiggle, fadeOut;
    animation-duration: 1s, 1s, 0s;
    animation-delay: 1s, 21s, 33s;
    animation-fill-mode: forwards;
}

img#skunk5 {
    position: absolute;
    left: 77%;
    width: 16%;
    top: 2.5%;
    z-index: 5;
    animation-name: wiggle, pulseMedium, wiggle, pulseMedium, fadeOut;
    animation-duration: 1s, 1.5s, 1s, 1.5s, 0s;
    animation-delay: 1s, 7.5s, 21s, 27.5s, 33s;
    animation-fill-mode: forwards;
}

img#point {
    position: absolute;
    left: 44%;
    top: 79%;
    width: 7%;
    opacity: 0;
    z-index: 6;
    animation-name: fadeOut, fadeIn, handRightToLeft, fadeOut;
    animation-duration: 0s, 0s, 4s, 0s;
    animation-delay: 0s, 2.5s, 2.5s, 6.5s;
    animation-fill-mode: forwards;
}

img#point2 {
    position: absolute;
    left: 44%;
    top: 79%;
    width: 7%;
    opacity: 0;
    z-index: 6;
    animation-name: fadeIn, handLeftToRight, fadeOut, fadeIn, handRightToLeft2, fadeOut;
    animation-duration: 0s, 4s, 0s, 0s, 2s, 0s;
    animation-delay: 13s, 13.5s, 19s, 29.5s, 29.5s, 33s;
    animation-fill-mode: forwards;
}


/* Library of animations */
@keyframes handUp {
    0% {
        left: 62%;
        top: 53%;
    }
    100% {
        left: 89%;
        top: 23%;
    }
}

@keyframes handUp2 {
    0% {
        left: 73%;
        top: 40%;
    }
    100% {
        left: 89%;
        top: 23%;
    }
}

@keyframes handRightToLeft {
    0% {
        left: 44%;
        top: 79%;
    }
    40% {
        left: 81%;
        right: 79%;
    }
    100% {   
        left: 8%;
        top: 79%;
    } 
}

@keyframes handRightToLeft2 {
    0% {
        left: 63%;
        top: 79%;
    }
    100% {   
        left: 8%;
        top: 79%;
    } 
}

@keyframes handLeftToRight {
    0% {
        left: 44%;
        top: 79%;
    }
    25% {
        left: 8%;
        top: 79%;
    }
    50% {
        left: 44%;
        top: 79%;
    }
    100% {   
        left: 81%;
        top: 79%;
    } 
}

@keyframes handRight {
    0% {
        left: 63%;
        top: 79%;
    }
    100% {
        left: 81%;
        top: 79%;
    }
}

@keyframes handLeft {
    0% {
        left: 26%;
        top: 79%;
    }
    100% {
        left: 8%;
        top: 79%;
    }
}


@keyframes handDown {
    0% {
        left: 62%;
        top: 53%;
    }
    50% {   
        left: 33%;
        top: 88%;
    }
    100% {
        left: 62%;
        top: 53%;
    } 
}

@keyframes handDown2 {
    0% {
        left: 50%;
        top: 73%;
    }
    100% {   
        left: 33%;
        top: 88%;
    }
}

@keyframes handUpAndDown {
    0% {
        left: 62%;
        top: 53%;
    }
    35% {   
        left: 89%;
        top: 23%;
    } 
    100% {
        left: 33%;
        top: 88%;
    }
}

@keyframes zoomIn2x {
    0% {}
    100% {transform: scale(2)}
}

@keyframes zoomIn {
    0% {}
    100% {transform: scale(1.5)}
}

@keyframes zoomOut {
    0% {}
    100% {transform: scale(1)}
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@keyframes fadeOut50 {
    0% {opacity: 1}
    100% {opacity: .50}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes pulseSmall {
    0% {}
    50% {transform: scale(1.05)} 
    100% {transform: scale(1)} 
}

@keyframes pulseMedium {
    0% {}
    50% {transform: scale(1.16)} 
    100% {transform: scale(1)} 
}

@keyframes selectRight {
    0% {}
    100% {left: 700px; top: -200px; transform: scale(1.5)}
}

@keyframes selectLeft {
    0% {}
    100% {left: -350px; top: -125px; transform: scale(1.5)}
}

@keyframes wiggle {
  0% {}
  20% {transform: rotate(2.5deg);}
  40% {transform: rotate(-2.5deg);}
  60% {transform: rotate(5deg);}
  80% {transform: rotate(-1.25deg);}
  100% {transform: rotate(0deg);}
}

@keyframes smaller50 {
    100% {width: 50%}
}
